*{
    padding: 0;
    margin: 0;
}
hr{
    background-color: black;
}
.bg-dark{
    background-color:  rgb(116, 21, 194)!important; 
}
 
.btn-primary{
    border: 0;
    font-size: 15px;
    font-family: "GothamSSm Book",Arial,sans-serif;
    min-width: 160px;
    color: #fff;
    vertical-align: middle;
    padding: 11px 20px;
    height: 44px;
    border-radius: 32.4px;
    box-shadow: 0 2px 3px 0 rgba(91,22,170,.3);
    background-image: linear-gradient(to left,#8c3fff,#5c72ff);
     
}
hr{
    background-color: rgb(173, 165, 165);
}
 footer{
     height: 7vh;
   
 }
  /* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 450.98px) { 
  h1{
      font-size: 32px;
  }
     
    .my-5 {
        margin-left: 0!important;
    }

    .mx-5 {
        margin-left: 0!important;
    }

    #copyright{
        font-size: 16px;
    }

 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {  }

